@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply bg-amazon_blue-lightgrey
    }
}

@layer components {
    .link{
        @apply cursor-pointer hover:underline
    }

    .button{
        @apply p-2 text-xs md:text-sm bg-gradient-to-b from-pink-200 to-pink-400 border 
        border-pink-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-pink-400 active:from-pink-400;
    }
}
